@model MvcMef.Models.Employee.IEmployeesViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
               @Html.ActionLink("Details", "Calculate", new { id = item.Id, readOnly = false }) |
                @item.LastName, @item.FirstName
            </td>
        </tr>
    }

</table>
